﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LogisticWebsite_WebProgramingProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LogisticWebsite_WebProgramingProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <title>TSPDN | HOME</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="~/css/quotestyle.css" rel="stylesheet" />
</head>
<body>
    <header>
        <!-- HEADER SECTION START HERE -->
        <div class="header-main-con w-100 float-left">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <figure class="mb-0">
                            <img src="/images/header-logo.png" alt="header-logo" loading="lazy">
                        </figure>
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link active dropdown-toggle p-0" href="#" id="navbarDropdown1" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Home
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                    <ul class="list-unstyled mb-0">
                                        <li><a class="dropdown-item active" href="index.html">Home</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown2" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    About
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                    <ul class="list-unstyled mb-0">
                                        <li><a class="dropdown-item" href="about.html">About</a></li>

                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown3" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Services
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                    <ul class="list-unstyled mb-0">
                                        <li><a class="dropdown-item" href="services.html">Services1</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown4" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pages
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                                    <ul class="list-unstyled mb-0">
                                        <li><a class="dropdown-item" href="pricing.html">Pricing</a></li>
                                        <li><a class="dropdown-item" href="product-detail.html">Product Detail</a></li>
                                        <li><a class="dropdown-item" href="cart.html">Cart</a></li>
                                        <li><a class="dropdown-item" href="checkout.html">Checkout</a></li>
                                        <li><a class="dropdown-item" href="team.html">Team</a></li>
                                        <li><a class="dropdown-item" href="testimonial.html">Testimonial</a></li>
                                        <li><a class="dropdown-item" href="services-detail.html">Services Detail</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown5" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Blogs
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
                                    <ul class="list-unstyled mb-0">
                                        <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                                        <li><a class="dropdown-item" href="single-blog.html">Single Blog</a></li>
                                        <li><a class="dropdown-item" href="one-column.html">One Column</a></li>
                                        <li><a class="dropdown-item" href="two-column.html">Two Column</a></li>
                                        <li><a class="dropdown-item" href="three-column.html">Three Column</a></li>
                                        <li><a class="dropdown-item" href="three-colum-sidbar.html">Three Column Sidbar</a></li>
                                        <li><a class="dropdown-item" href="four-column.html">Four Column</a></li>
                                        <li><a class="dropdown-item" href="six-colum-full-wide.html">Six Column</a></li>
                                        <li><a class="dropdown-item" href="load-more.html">Load More</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0" href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-btns d-flex align-items-center">
                        <div class="chat-btn">
                            <a href="services.html">Track Now</a>
                        </div>
                        <div class="header-support-btn">
                            <a href="contact.html"><i class="fas fa-file-alt"></i> Get a Quote</a>
                        </div>
                    </div>
                </nav>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="footer-section w-100 float-left">
            <div class="container">
                <div class="footer-inner-con">
                    <div class="footer-box footer-logo-box">
                        <a href="index.html">
                            <figure>
                                <img src="/images/footer-logo.png" alt="footer-logo">
                            </figure>
                        </a>
                        <p>
                            Receive all the important information and news about CargoX through our occasional newsletter and social media.
                        </p>
                        <div class="footer-social-links">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-box footer-pages-links">
                        <h3>Quick Links</h3>
                        <ul class="list-unstyled mb-0">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="footer-box contact-details-box">
                        <h3>Contact Info</h3>
                        <ul class="list-unstyled mb-0">
                            <li><i class="fas fa-phone-alt"></i> <a href="tel:+568925896325">1800 1188</a></li>
                            <li>
                                <i class="fas fa-map-marker-alt"></i> <a href="https://maps.app.goo.gl/YAT8je1YFxLGue7PA">
                                    722 Điện Biên Phủ, Phường 22, Quận Bình Thạnh, Tp. Hồ Chí Minh, Việt Nam
                                </a>
                            </li>
                            <li><i class="fas fa-envelope"></i> <a href="mailto:info@medwell.com">info@cargo.com</a></li>
                        </ul>
                    </div>
                    <div class="footer-box footer-newsletter">
                        <h3>Newsletter</h3>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <input type="email" placeholder="Your Email Address:">
                                <button type="submit"><i class="fas fa-paper-plane"></i></button>
                            </li>
                            <li class="checkbox-con mb-0">
                                <input type="checkbox" id="accept" name="accept" value="accept">
                                <label class="mb-0" for="accept">
                                    Sign up to receive the latest notifications.
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-con w-100 float-left">
            <p class="mb-0">Copyright © 2024 Cargo X | All rights reserved.</p>
        </div>
        <a id="button"></a>
    </footer>
     <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
