﻿@* @{
    ViewData["Title"] = "Privacy Policy";
} *@
<link href="~/css/formstyle.css" rel="stylesheet" />
<body>
    <!-- Container image -->
    <section class="Image-Container">
    </section>
    <!-- Registration Form -->
    <section class="container">
        <header>Registration Form</header>
        <form action="#" class="form">

            <div class="column">
                <div class="input-box">
                    <label>Schedule</label>
                    <input type="date" placeholder="Schedule" required />
                </div>
            </div>

            <div class="Type-box">
                <h3>Service</h3>
                <div class="Type-option">
                    <div class="Type">
                        <input type="radio" id="check-Transport" name="Type" checked />
                        <label for="check-Transport">Transport</label>
                    </div>
                    <div class="Type">
                        <input type="radio" id="check-other" name="Type" />
                        <label for="check-other">Storage</label>
                    </div>
                </div>
            </div>

            <div class="input-box address">
                <label>Commodities</label>
                <div class="select-box">
                    <select>
                        <option hidden>Type</option>
                        <option>20DC</option>
                        <option>40HC</option>
                        <option>40FR</option>
                    </select>
                </div>
            </div>

            <div class="input-box address">
                <label>Commodity Description</label>
                <input type="text" placeholder="Commodity Description" required />
            </div>

            <div class="input-box address">
                <label>Quantity</label>
                <input type="number" placeholder="Number of Containers/ Storages" required />
            </div>

            <div class="input-box address">
                <label>Gross weight</label>
                <input type="number" placeholder="Gross weight (Kilogram)" required />
            </div>

            <div class="input-box address"><label class="lable-title">Addresses</label></div>

            <div class="column">
                <div class="input-box">
                    <label>Port of Loading</label>
                    <input type="text" placeholder="Enter Port of Loading" required />
                </div>
                <div class="input-box">
                    <label>Port of Discharge</label>
                    <input type="text" placeholder="Enter Port of Discharge" required />
                </div>
            </div>

            <!-- <div class="column">
                  <div class="select-box">
                    <select>
                      <option hidden>Country</option>
                      <option>America</option>
                      <option>Japan</option>
                      <option>VietNam</option>
                      <option>Germany</option>
                    </select>
                  </div>
                  <input type="text" placeholder="Enter your city" required />
                </div> -->
            <div class="input-box address">
                <label>Postal code</label>
                <input placeholder="Enter postal code" required />
            </div>
            <button>Submit</button>
        </form>
    </section>
</body>
