﻿body {
}
/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    /* background: rgb(130, 106, 251); */
    background: linear-gradient(to right, #235cf2 10%, white 60%);
}

.Image-Container {
    background-image: url("images/coming-soon-container-cargo-x-webflow-template.png");
    background-size: cover;
    background-position: left top;
    width: 40%;
    float: left;
    height: 100vh;
}

.container {
    margin-top: 5%;
    margin-left: 5%;
    position: relative;
    max-width: 700px;
    width: 100%;
    max-height: 600px;
    overflow-y: auto;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

    .container::-webkit-scrollbar {
        width: 10px;
    }

    .container::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .container::-webkit-scrollbar-thumb {
        background: #6084e0;
        border-radius: 5px;
    }

        .container::-webkit-scrollbar-thumb:hover {
            background: #235cf2;
        }


    .container header {
        font-size: 1.5rem;
        color: #333;
        font-weight: 500;
        text-align: center;
    }

    .container .form {
        margin-top: 30px;
    }

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: #333;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
    display: flex;
    column-gap: 15px;
}

.form .Type-box {
    margin-top: 20px;
}

.Type-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.Type-option, .Type) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .Type {
    column-gap: 5px;
}

.Type input {
    accent-color: #235cf2;
}

.form :where(.Type input, .Type label) {
    cursor: pointer;
}

.Type label {
    color: #707070;
}

.address :where(input, .select-box) {
    margin-top: 15px;
}

.select-box select {
    appearance: none;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

.form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    /* background: rgb(130, 106, 251); */
    background: #a09d9d;
}

    .form button:hover {
        /* background: rgb(88, 56, 250); */
        background: #235cf2;
    }

.lable-title {
    font-size: large;
    font-weight: 600;
}

/*Responsive*/
@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }

    .form :where(.Type-option, .Type) {
        row-gap: 15px;
    }
}