﻿* {
    font-family: sans-serif;
}

.roww {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    background-color: #1c42ad;
    width: 90%;
    height: 250px;
    background-image: url("https://assets-global.website-files.com/644fdfe30805352e528a6521/644fdfe308053536ff8a662c_container-cta-cargo-x-webflow-template-p-800.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

    .roww h1 {
        color: white;
        margin-left: 50px;
    }

    .roww .button5 {
        margin-right: 50px; /* Space before button */
    }

body {
    display: block;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}


.button {
    background-color: #04AA6D;
    border-radius: 100px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.button5 {
    background-color: #fff;
    border: 2px;
}

    .button5:hover {
        background-color: #fff;
        transform: translateY(-5px);
        transition: 0.7s;
    }
