
body {
}
/*------------------------------------------------------------------
[Table of contents]
 
1. Body
2. Header / .header-main-con
4. Banner / .banner-main-section
5. Services / .index1-services-section
6. About / .index1-about-section
7. Choose section / .index1-choose-section
8. Projects / .project-slider-section
9. Track Shipment / .track-shipment-section
10. Teams / .index1-teams-section
11. Testimonial / .index1-testimonial-section
12. Form / .index1-form-main-section
13. Footer / .footer-section
-------------------------------------------------------------------*/
/* Some CSS Code 
1. Header / 
/*------------------------------------------------------------------
# [Color codes]
 
# --primary-color: #fff;
# --secondary-color: #010101;
# --accent: #ea452d;
# --text-color: #868686;
# */
/*------------------------------------------------------------------
[Typography]

Body copy:   "Syne", sans-serif;
-------------------------------------------------------------------*/




@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');


:root {
    --primary-color: #fff;
    --secondary-color: #010101;
    --accent: #ea452d;
    --text-color: #868686;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--text-color);
    font-family: "Syne", sans-serif;
    background: url(../images/body-lines-shape.jpg) repeat center;
}
/* generics start */
h1 {
    font-size: 60px;
    line-height: 64px;
    font-weight: 700;
    color: var(--secondary-color);
}

h2 {
    font-size: 44px;
    line-height: 54px;
    font-weight: 700;
    color: var(--secondary-color);
}

h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: var(--secondary-color);
}

h4 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    color: var(--secondary-color);
}

h5 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: var(--secondary-color);
}

.padding-top {
    padding-top: 150px;
}

.padding-bottom {
    padding-bottom: 150px;
}

a:hover {
    text-decoration: none;
}

.generic-btn {
    display: inline-block;
}

    .generic-btn a {
        font-size: 16px;
        font-weight: 700;
        padding: 15px 10px;
        color: var(--primary-color);
        background: var(--accent);
        border: 1px solid var(--accent);
        transition: .3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 181px;
        min-height: 61px;
        box-shadow: 7px 7px 16px rgb(234 69 45 / 24%);
    }

        .generic-btn a:hover {
            background: transparent;
            border-color: var(--accent);
            color: var(--accent);
        }

.generic-title span {
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: var(--accent);
    font-weight: 700;
    margin-bottom: 12px;
}

.generic-title h2 {
    margin-bottom: 0;
}

.generic-title {
    margin-bottom: 41px;
}

.light-bg {
    background: #f6f6f6;
}

.white-bg {
    background: #fff;
}
/* header section styling start here */
.header-main-con {
    position: absolute;
    z-index: 9999;
    left: 0;
    top: 0;
}

    .header-main-con .navbar-light .navbar-nav .nav-link {
        color: #12191f;
        font-size: 15px;
        line-height: 16px;
        font-weight: 500;
        transition: .3s ease-in-out;
    }

        .header-main-con .navbar-light .navbar-nav .nav-link.active {
            color: var(--accent);
        }

        .header-main-con .navbar-light .navbar-nav .nav-link:hover {
            color: var(--accent);
        }

    .header-main-con .navbar {
        padding: 35px 0 0;
        max-width: 1424px;
        margin: 0 auto;
        align-items: center;
    }

        .header-main-con .navbar .navbar-collapse {
            justify-content: end;
        }

        .header-main-con .navbar .navbar-nav {
            gap: 56.5px;
            margin-right: 129px;
        }

.header-support-btn a {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    padding: 17px 25px;
    color: var(--primary-color);
    background: var(--accent);
    border: 1px solid var(--accent);
    transition: .3s ease-in-out;
}

    .header-support-btn a:hover {
        background: transparent;
        color: var(--accent);
    }

.chat-btn a {
    font-weight: 600;
    color: var(--secondary-color);
    transition: .3s ease-in-out;
    text-decoration: underline;
}

    .chat-btn a:hover {
        color: var(--accent);
    }

.header-main-con .nav-btns {
    gap: 35px;
}

.header-support-btn a i {
    margin-right: 7px;
}

.header-support-btn {
    margin-top: 3px;
}

.header-main-con .navbar-nav .dropdown-menu .dropdown-item:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}

.header-main-con .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    width: 240px;
    top: 15px;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 23px 0;
}

    .header-main-con .navbar-expand-lg .navbar-nav .dropdown-menu ul {
        position: absolute;
        background: var(--accent);
        border: 0;
        border-radius: 0;
        width: 100%;
        padding: 15px;
        top: 46px;
    }

        .header-main-con .navbar-expand-lg .navbar-nav .dropdown-menu ul::before {
            content: "\f0de";
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            position: absolute;
            left: 10px;
            top: -5px;
            color: var(--accent);
            font-size: 36px;
        }

.header-main-con .navbar-nav .dropdown-menu .dropdown-item {
    padding: 7px 10px;
    line-height: normal;
    margin-bottom: 1px;
    color: var(--primary-color);
}

    .header-main-con .navbar-nav .dropdown-menu .dropdown-item.active,
    .header-main-con .navbar-nav .dropdown-menu .dropdown-item:focus,
    .header-main-con .navbar-nav .dropdown-menu .dropdown-item:active {
        background: var(--primary-color);
        color: var(--secondary-color);
    }
/* header section styling end here */
/* banner section styling start here */
.banner-main-section {
    padding-top: 202px;
    padding-bottom: 115px;
    
    background-color: var(--primary-color);
}

.banner-inner-con {
    max-width: 1424px;
    margin: 0 auto;
}

.banner-inner-con {
    max-width: 1424px;
    margin: 0 auto;
    display: grid;
    gap: 0;
    grid-template-columns: 50% 50%;
}

.banner-right-con {
    text-align: end;
}

.banner-right-imgs {
    position: relative;
    display: inline-block;
}

.banner-right-img-shape {
    position: absolute;
    left: -122px;
    bottom: 0;
}

.banner-left-con h1 span {
    color: var(--accent);
}

.banner-left-con p {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 32px;
    color: var(--secondary-color);
}

.banner-left-con {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.banner-customers-con {
    margin-top: auto;
    display: grid;
    gap: 0;
    grid-template-columns: max-content max-content;
    align-items: center;
}

.banner-btns {
    display: flex;
    gap: 24px;
}

.banner-customers-con ul li figure {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid var(--primary-color);
}

.banner-customers-con ul li:not(:nth-child(1)) {
    margin-left: -17px;
}

.number-of-customers p {
    font-size: 14px;
    line-height: 29px;
    color: var(--secondary-color);
}

.number-of-customers span {
    font-size: 20px;
    line-height: 21px;
    font-weight: 700;
    color: var(--secondary-color);
}

.banner-customers-con ul {
    padding-right: 21px;
    border-right: 1px solid #e3e3e3;
}

.number-of-customers {
    padding-left: 23px;
}

.banner-left-con h1 {
    margin-bottom: 17px;
}

.read-more-btn a {
    background: transparent;
    box-shadow: none;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}
/* banner section styling end here */
/* index1 services section styling start here */
.index1-service-con {
    padding: 37px 24px 26px;
    background: var(--primary-color);
    box-shadow: 1px 1px 49px rgb(0 0 0 / 5%);
    border: 1px solid transparent;
}

.index1-services-inner-con {
    display: flex;
    gap: 29px;
    margin-bottom: 50px;
    grid-template-columns: 23% 23% 23% 23%;
}

.index1-service-con:hover {
    border-color: var(--secondary-color);
}

.index1-service-con a {
    display: flex;
    align-items: center;
    color: var(--accent);
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    display: inline-block;
    transition: .2s ease-in-out;
}

    .index1-service-con a i {
        margin-left: 7px;
    }

    .index1-service-con a:hover {
        color: var(--secondary-color);
    }

.index1-services-section .generic-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index1-service-con figure {
    margin-bottom: 19px;
}

.index1-service-con h3 {
    margin-bottom: 13px;
}

.index1-service-con p {
    padding-bottom: 23px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 26px;
}
/* index1 services section styling end here */
/* index1 about section styling start here */
.index1-about-section {
    /* background-color: #1d1d1b;
    background-image: url(../images/index1-about-bg-line.png); */
    padding: 140px 0;
    position: relative;
}

.index1-about-right-con h2,
.index1-about-right-con p,
.index1-about-right-con ul li {
    color: var(--primary-color);
}

.index1-about-section::before {
    content: "";
    background: var(--accent);
    width: 31.25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.index1-about-inner-con {
    position: relative;
    z-index: 1;
    display: grid;
    gap: 52px;
    grid-template-columns: 55% 33%;
    align-items: center;
}

.index1-about-section::after {
    content: "";
    background: url(../images/index1-about-right-shape.png) no-repeat;
    width: 164px;
    height: 160px;
    position: absolute;
    right: 110px;
    bottom: 140px;
}

.index1-about-left-con {
    background: url(../images/index1-about-left-img.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 676px;
}

.index1-about-right-con .generic-title {
    padding: 0;
    margin-left: -196px;
    margin-bottom: 28px;
    position: relative;
    z-index: 2;
}

.index1-about-detail {
    padding-right: 210px;
}

    .index1-about-detail p {
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 17px;
    }

    .index1-about-detail ul li {
        position: relative;
        padding-left: 28px;
        margin-bottom: 8px;
    }

        .index1-about-detail ul li::before {
            content: "\f00c";
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            color: var(--accent);
            position: absolute;
            left: 0;
            top: 0;
        }

    .index1-about-detail ul {
        margin-bottom: 43px;
    }

.index1-about-right-con::before {
    content: "";
    background: url(../images/index1-about-heading-bg.jpg) no-repeat;
    width: 203px;
    height: 219px;
    position: absolute;
    left: -240px;
    top: -1px;
}

.index1-about-right-con {
    position: relative;
    padding-top: 40px;
}
/* index1 about section styling end here */
/* index1 choose section styling start here */
.index1-choose-section {
    background: url(../images/choose-section-bg-img.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.index1-choose-inner-con {
    display: grid;
    gap: 0;
    grid-template-columns: 50% 50%;
}

.benefits-con {
    display: flex;
}

    .benefits-con p {
        margin-bottom: 0;
    }

.benefits-outer-section {
    display: grid;
    gap: 30px 30px;
    grid-template-columns: 46% 46%;
    margin-bottom: 37px;
}

.benefits-con figure {
    margin-right: 18px;
}

.benefits-details-con {
    margin-top: -4px;
}
/* index1 choose section styling end here */
/* index1 projects slider section styling start here */
.project-images-con .arrow-hover-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 94px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent);
    border-radius: 100%;
    margin: 0;
}

.latest-project-con a {
    width: 350px;
    display: inline-block;
    box-shadow: 1px 1px 49px rgb(0 0 0 / 5%);
}

    .latest-project-con a .arrow-hover-img {
        opacity: 0;
    }

    .latest-project-con a:hover .arrow-hover-img {
        opacity: 1;
    }

    .latest-project-con a:hover .project-details-con h3 {
        color: var(--accent);
    }

.project-details-con {
    text-align: center;
    padding: 38px 50px 33px;
}

    .project-details-con p {
        color: var(--text-color);
    }

    .project-details-con span {
        font-size: 12px;
        line-height: 28px;
        font-weight: 600;
        background: #1d1d1b;
        padding: 3px 24.3px 2px;
        color: var(--primary-color);
        position: absolute;
        left: 49%;
        top: -20px;
        transform: translateX(-50%);
    }

.project-details-con {
    position: relative;
}

    .project-details-con h3 {
        margin-bottom: 5px;
    }

.latest-project-con {
    box-shadow: 1px 1px 49px rgb(0 0 0 / 5%);
}

.project-slider-inner-con .owl-carousel {
    box-shadow: 1px 1px 49px rgb(0 0 0 / 5%);
}

    .project-slider-inner-con .owl-carousel .project-images-con figure img {
        width: auto;
    }

    .project-slider-inner-con .owl-carousel .owl-nav {
        display: none;
    }

    .project-slider-inner-con .owl-carousel .owl-dots .owl-dot {
        width: 11px;
        height: 11px;
        background: #e4e4e4;
        border-radius: 100%;
        border: none;
        margin: 0 5px;
    }

    .project-slider-inner-con .owl-carousel .owl-dots button.owl-dot:focus {
        outline: none;
    }

    .project-slider-inner-con .owl-carousel .owl-dots .owl-dot.active {
        width: 16px;
        height: 16px;
        background: var(--accent);
    }

    .project-slider-inner-con .owl-carousel .owl-dots {
        position: absolute;
        left: 50%;
        bottom: -71px;
        transform: translateX(-50%);
    }

.project-slider-section .generic-title {
    margin-bottom: 40px;
}

.project-slider-section {
    padding-bottom: 220px;
}
/* index1 projects slider section styling end here */
/* index1 tracking section styling start here */
.tracking-outer-con {
    display: grid;
    gap: 100px;
    grid-template-columns: 54% 37%;
    align-items: center;
}

.track-shipment-section {
    background: url(../images/tracking-section-bg-img.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

    .track-shipment-section::before {
        content: "";
     
        width: 164px;
        height: 160px;
        position: absolute;
        left: 92px;
        bottom: 148px;
    }

.tracking-left-con {
    padding-top: 6px;
}

    .tracking-left-con .generic-title h2 {
        color: var(--primary-color);
    }

    .tracking-left-con p {
        font-size: 18px;
        line-height: 29px;
        color: var(--primary-color);
    }

.tracking-code h3 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 25px;
    color: var(--primary-color);
}

.tracking-right-con {
    padding: 54px 38px 60px;
    text-align: center;
    background: var(--accent);
}

    .tracking-right-con input,
    .tracking-right-con select,
    .tracking-code button {
        width: 100%;
        height: 56px;
        border: none;
        padding: 10px 24px;
        color: var(--text-color);
    }

        .tracking-right-con input:focus,
        .tracking-right-con select:focus,
        .tracking-code button:focus {
            outline: none;
        }

.tracking-code button {
    height: 61px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    font-family: "Syne", sans-serif;
    color: var(--primary-color);
    background: var(--secondary-color);
    transition: .3s ease-in-out;
    cursor: pointer;
}

    .tracking-code button:hover {
        background: var(--primary-color);
        color: var(--accent);
    }

.tracking-right-con input {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
}

.tracking-right-con select {
    margin-bottom: 30px;
    appearance: none;
    font-size: 14px;
    line-height: 22px;
}

.tracking-right-con select,
.index2-form-inner-con ul li select {
    background: var(--primary-color) url(../images/angle-down.png) no-repeat;
    background-position: 94.5% 50%;
}

.tracking-left-con .generic-title {
    margin-bottom: 29px;
}
/* index1 tracking section styling end here */
/* index1 teams section styling start here */
.index1-teams-inner-con {
    display: grid;
    gap: 32px 30px;
    grid-template-columns: 23% 23% 23% 23%;
}

.index1-member-detail ul li a {
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    border-radius: 100%;
    color: var(--primary-color);
    transition: .3s ease-in-out;
}

.index1-member-detail ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .index1-member-detail ul li {
        margin: 0 4px;
    }

.index1-member-detail {
    padding: 19px 30px 25px;
}

    .index1-member-detail span {
        display: block;
        margin-bottom: 17px;
        font-size: 14px;
        line-height: 18px;
    }

.index1-team-member-con {
    background: var(--primary-color);
}

.index1-teams-section .generic-title {
    margin-bottom: 40px;
}

.index1-member-detail h4 {
    margin-bottom: 0;
    transition: .3s ease-in-out;
}

.index1-team-member-con:hover h4 {
    color: var(--accent);
}

.index1-team-member-con ul li a:hover {
    background: var(--accent);
}
/* index1 teams section styling end here */
/* index1 testimonial section styling start here */
.index1-testimonial-right-con .owl-carousel img {
    width: auto;
}

.index1-testimonial-right-con .owl-carousel .owl-nav,
.index1-testimonial-right-con .owl-carousel .owl-dots {
    display: none;
}

.index1-testimonial-inner-con {
    display: grid;
    gap: 73px;
    grid-template-columns: 45% 48.7%;
    align-items: center;
}

.index1-testimonial-slide p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 26px;
    padding-bottom: 18px;
    border-bottom: 1px solid #e8e8e8;
    color: var(--secondary-color);
}

.index1-testimonial-slide {
    padding: 43px 28px 30px 40px;
    border-top: 2px solid var(--secondary-color);
}

    .index1-testimonial-slide > figure img {
        margin-bottom: 23px;
    }

.index1-testimonial-inner-con .owl-stage-outer {
    box-shadow: 1px 1px 49px rgb(0 0 0 / 3%);
}

.index1-reviewer-detail {
    display: flex;
    align-items: center;
}

.index1-testimonial-inner-con .btn-wrap button {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: transparent;
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    margin: 0 4px;
}

    .index1-testimonial-inner-con .btn-wrap button:focus {
        outline: none;
    }

    .index1-testimonial-inner-con .btn-wrap button:hover {
        color: var(--primary-color);
        background: var(--accent);
        border-color: var(--accent);
    }

.index1-reviewer-detail figure {
    width: 59px;
    height: 59px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 22px;
}

.index1-reviewer-con span {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 3px;
}

.index1-reviewer-con small {
    font-size: 14px;
    line-height: 18px;
    display: block;
}

.index1-testimonial-right-con {
    position: relative;
}

.index1-testimonial-inner-con .btn-wrap {
    position: absolute;
    right: -1px;
    bottom: 0;
    z-index: 2;
    padding: 39px 40px;
    background: var(--primary-color);
}
/* index1 testimonial section styling end here */
/* index1 form section styling start here */
.index2-form-inner-con ul li input,
.index2-form-inner-con ul li select,
.index2-form-inner-con ul li textarea {
    width: 100%;
    height: 61px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 22px;
    color: var(--text-color);
    border: none;
}

    .index2-form-inner-con ul li input:focus,
    .index2-form-inner-con ul li select:focus,
    .index2-form-inner-con ul li textarea:focus,
    .index2-form-inner-con ul li input:focus-visible,
    .index2-form-inner-con ul li select:focus-visible,
    .index2-form-inner-con ul li textarea:focus-visible {
        outline: 1px solid var(--accent);
    }

.index2-form-inner-con ul li select {
    appearance: none;
}

.submit-btn button {
    height: 61px;
    width: 335px;
    font-size: 16px;
    line-height: 28px;
    padding: 10px 20px;
    font-weight: 700;
    cursor: pointer;
    color: var(--primary-color);
    background: var(--accent);
    border: 1px solid var(--accent);
    transition: .2s ease-in-out;
}

    .submit-btn button:focus {
        outline: none;
    }

    .submit-btn button:hover {
        color: var(--accent);
        background: var(--primary-color);
    }

.index2-form-inner-con ul {
    display: grid;
    gap: 20px;
    margin-bottom: 39px;
    grid-template-columns: 32.1% 32.1% 32.1%;
}

.form-box span.error {
    color: red;
    position: absolute;
    top: -26px;
    left: 0;
}

.index2-form-inner-con ul li {
    position: relative;
}

    .index2-form-inner-con ul li:last-child {
        grid-column: 1/-1;
    }

    .index2-form-inner-con ul li textarea {
        height: 137px;
        resize: none;
        padding: 22px 20px;
    }
/* index1 form section styling end here */
/* footer section styling start here */
.footer-section {
    padding: 98px 0;
    position: relative;
}

    .footer-section::after {
        content: "";
        background: url(../images/footer-right-shpae.png) no-repeat;
        width: 164px;
        height: 160px;
        position: absolute;
        right: 122px;
        bottom: 59px;
    }

.footer-box a {
    transition: .3s ease-in-out;
}

    .footer-box a:hover {
        color: var(--accent);
    }

.footer-inner-con {
    display: grid;
    gap: 30px;
    grid-template-columns: 27% 15.4% 22.4% 27%;
}

.contact-details-box ul li a {
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
}

.footer-logo-box {
    padding-right: 10px;
}

    .footer-logo-box p {
        color: #a0a09f;
        margin-bottom: 23px;
    }

.footer-box .footer-social-links ul {
    display: flex;
}

    .footer-box .footer-social-links ul li {
        margin-right: 14px;
    }

        .footer-box .footer-social-links ul li a {
            width: 37px;
            height: 37px;
            border-radius: 100%;
            background: transparent;
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s ease-in-out;
        }

            .footer-box .footer-social-links ul li a:hover {
                background: var(--accent);
                border-color: var(--accent);
            }

            .footer-box .footer-social-links ul li a i {
                font-size: 14px;
            }

.footer-box h3 {
    margin-bottom: 20px;
    color: var(--primary-color);
}

.footer-pages-links ul li a {
    color: #a0a09f;
}

.footer-pages-links ul li {
    position: relative;
    padding-left: 28px;
    margin-bottom: 7px;
}

    .footer-pages-links ul li::before {
        content: "\f061";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 14px;
        color: #a0a09f;
        position: absolute;
        left: 0;
        top: 0;
    }

.footer-newsletter ul li input {
    width: 100%;
    font-size: 14px;
    border: 0;
    color: #a0a09f;
    font-weight: 500;
    background: transparent;
    border-bottom: 1px solid #fff;
    padding: 10px 2px;
}

    .footer-newsletter ul li input:focus {
        border-color: var(--accent);
    }

    .footer-newsletter ul li input::placeholder {
        font-weight: 500;
        color: #a0a09f;
    }

.footer-newsletter h3 {
    margin-bottom: 11px;
}

.footer-newsletter ul li input:focus {
    outline: none;
}

.footer-newsletter ul li button {
    background: none;
    box-shadow: none;
    border: none;
    font-size: 22px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

    .footer-newsletter ul li button i {
        color: var(--accent);
    }

.footer-newsletter ul li {
    position: relative;
    margin-bottom: 31px;
}

.contact-details-box ul li a,
.contact-details-box ul li i {
    color: #a0a09f;
}

.contact-details-box ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 14px;
    color: #a0a09f;
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
}

    .contact-details-box ul li i {
        position: absolute;
        left: 5px;
        top: 6px;
        color: var(--accent);
        font-size: 14px;
    }

.footer-logo-box figure {
    margin-bottom: 33px;
}

.footer-box:not(:first-child) {
    padding-top: 8px;
}

.checkbox-con {
    display: flex;
    align-items: center;
}

    .checkbox-con label {
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
        color: #a0a09f;
    }

    .checkbox-con input {
        width: 22px !important;
        height: 22px;
        border-radius: 100%;
        margin-right: 23px;
    }

.copyright-con {
    text-align: center;
    padding: 17px;
    background: #171715;
}

    .copyright-con p {
        font-size: 12px;
        line-height: 24px;
        color: #a0a09f;
    }
/* footer section styling end here */
/* about page styling start here */
.about-header-con {
    position: relative;
    top: unset;
    left: unset;
    background: var(--primary-color);
    padding: 30px 0;
}

    .about-header-con .navbar {
        padding: 0;
    }

.about-banner-inner-con .breadcrumb-item + .breadcrumb-item::before {
    content: "\f061";
    font-weight: 900;
    font-size: 12px;
    font-family: 'Font Awesome 5 Free';
    color: var(--primary-color);
}

.about-banner-inner-con .breadcrumb-item {
    font-size: 14px;
    line-height: 18px;
    color: var(--primary-color);
}

    .about-banner-inner-con .breadcrumb-item a {
        color: var(--primary-color);
    }

        .about-banner-inner-con .breadcrumb-item a:hover {
            color: var(--accent);
        }

.breadcrumb {
    background: transparent;
    padding: 12px 34px;
    width: max-content;
    border: 1px solid var(--primary-color);
    border-radius: 0;
}

.about-banner-inner-con h1 {
    color: var(--primary-color);
    margin-bottom: 28px;
}

.about-banner-section {
    background: url(../images/about-banner-bg.jpg) no-repeat center;
    height: 436px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: start;
}

.about-banner-inner-con h1 {
    color: var(--primary-color);
}

.about-banner-inner-con {
    padding-top: 3px;
}
/* about page about us section styling start here */
.about1-aboutus-inner-con {
    display: grid;
    gap: 51px;
    grid-template-columns: 55.5% 40.5%;
    align-items: center;
}

.about1-aboutus-left-con {
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto;
}

.about1-exp-years span {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    color: var(--accent);
    display: block;
    margin-bottom: 8px;
}

.about1-exp-years small {
    font-size: 14px;
    line-height: 16px;
    color: var(--primary-color);
}

.about1-exp-years {
    width: 126px;
    height: 128px;
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    left: -50px;
    padding: 20px 20px 30px;
    text-align: center;
}

.about-img1-box {
    margin-top: -40px;
}

.about1-aboutus-right-con .generic-title {
    margin-bottom: 30px;
    margin-left: -2px;
}

.about1-aboutus-right-con p {
    font-size: 18px;
    line-height: 29px;
}

.about1-aboutus-right-con.index1-about-detail {
    padding-right: 0;
}

    .about1-aboutus-right-con.index1-about-detail ul li {
        color: var(--secondary-color);
    }

    .about1-aboutus-right-con.index1-about-detail ul {
        margin-bottom: 45px;
    }
/* about page about us section styling end here */
/* about page skills section styling start here */
.about-skills-left-con > p {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 4px;
}

.about-skills-inner-con {
    display: grid;
    gap: 60px;
    grid-template-columns: 57.6% 37%;
}

.about-skills-left-con .generic-title h2,
.about1-aboutus-right-con .generic-title h2 {
    line-height: 54px;
}

.about-skills-left-con .generic-title span,
.about1-aboutus-right-con .generic-title span {
    margin-bottom: 13px;
}

.about-skills-left-con .generic-title {
    margin-bottom: 26px;
}
/*****skills section*****/
.left-sec h5 {
    margin-bottom: 15px;
}

.left-sec :last-child {
    margin-bottom: 0;
    line-height: 33px;
}

.skills span {
    float: right;
    margin-top: -28px;
    border-radius: 6px;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 14px;
    margin-right: 12px;
}

.skillbar {
    background-color: var(--accent);
    width: 0px;
    height: 8px;
    border-radius: 8px;
}

.title-bar h5 {
    position: relative;
    top: -28px;
    color: var(--secondary-color);
}

.skills {
    background-color: #f7f7f7;
    width: 100%;
    height: 8px;
    position: relative;
    margin: 57px 0;
    border-radius: 8px;
}

.title-bar {
    position: absolute;
    top: 0;
}

.percentage {
    position: absolute;
    top: -28px;
    right: 0px;
    font-size: 14px;
    color: var(--secondary-color);
}

.left-sec {
    padding: 0 50px;
}

    .left-sec ul li i {
        font-size: 18px;
        color: var(--button-color);
        margin-right: 8px;
    }

    .left-sec h5 {
        color: var(--secondary-color);
    }
/*****skills section*****/
/* about page skills section styling end here */
/* about page video section styling start here */
/* video style */
#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

#light {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    z-index: 1002;
    overflow: visible;
    transform: translate(-50%, -50%);
}

#boxclose {
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 23px;
    border-radius: 100%;
    color: var(--accent);
    background: var(--primary-color);
    font-weight: bold;
    display: inline-block;
    position: absolute;
    right: -7px;
    top: -10px;
    z-index: 1002;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
}

    #boxclose:hover {
        background: var(--accent);
        color: var(--primary-color);
    }

.boxclose:before {
    content: "×";
}

#fade:hover ~ #boxclose {
    display: none;
}

.video-play-icon a {
    width: 99px;
    height: 99px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
}

    .video-play-icon a i {
        font-size: 20px;
        color: var(--accent);
    }

.video-play-icon {
    border: 1px solid #fff;
    padding: 12px;
    border-radius: 100%;
}
/* video style */
.about-video-section {
    background: url(../images/about-video-bg-img.jpg) no-repeat center;
    background-size: cover;
    height: 592px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-video-inner-con {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* about page video section styling end here */
/* about statistics section styling start here */
.about-statistics-box figure {
    width: 94px;
    height: 94px;
    display: flex;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    background: var(--accent);
}

.about-statistics-inner-con {
    display: grid;
    gap: 30px;
    grid-template-columns: 23% 23% 23% 23%;
}

.about-statistics-box {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    box-shadow: 1px 1px 49px rgb(0 0 0 / 5%);
    transition: .3s ease-in-out;
}

    .about-statistics-box span {
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
        margin-bottom: 10px;
        color: var(--secondary-color);
    }

    .about-statistics-box:hover {
        border-color: var(--accent);
    }

.counter-con small {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    position: relative;
    color: var(--secondary-color);
}

.counter-con {
    display: flex;
}

.about-statistics-section .generic-title {
    margin-bottom: 41px;
}
/* about statistics section styling end here */
/* about testimonial section styling start here */
.about1-testimonial-inner-con .about1-testimonial-slide figure img {
    width: auto;
}

.about1-testimonial-inner-con .index1-testimonial-slide p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 25px;
    padding-bottom: 0;
    border-bottom: 0;
    color: var(--text-color);
}

.about1-testimonial-inner-con .index1-testimonial-slide {
    padding: 51px 28px 30px 34px;
    border-top: 0;
    box-shadow: 1px 1px 49px rgb(0 0 0 / 5%);
}

.about1-testimonial-inner-con .owl-stage-outer {
    overflow: visible;
    margin-bottom: 55px;
}

.about1-testimonial-inner-con .owl-item {
    opacity: 0;
    transition: opacity 10ms;
}

    .about1-testimonial-inner-con .owl-item.active {
        opacity: 1;
    }

.about1-testimonial-section {
    overflow: hidden;
}

    .about1-testimonial-section .generic-title {
        margin-bottom: 41px;
    }

.index1-testimonial-slide.about1-testimonial-slide > figure {
    margin-bottom: 18px;
}

    .index1-testimonial-slide.about1-testimonial-slide > figure img {
        margin-bottom: 0;
    }

.about1-testimonial-inner-con .index1-testimonial-slide.about1-testimonial-slide .index1-reviewer-detail figure {
    width: 54px;
    height: 54px;
    margin-right: 16px;
}

.about1-testimonial-inner-con .about1-testimonial-slide .index1-reviewer-detail .index1-reviewer-con figure {
    width: auto;
    height: auto;
    border-radius: 0;
    overflow: unset;
    margin-right: 0;
    margin-bottom: 13px;
}

.about1-testimonial-inner-con .index1-reviewer-con span {
    font-weight: 600;
}

.about1-testimonial-inner-con .index1-reviewer-detail {
    align-items: start;
}

.about1-testimonial-inner-con .index1-reviewer-con {
    padding-top: 4px;
}

.about1-testimonial-inner-con .owl-nav {
    display: none;
}

.about1-testimonial-inner-con .owl-dots .owl-dot {
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background: #dcdcdc;
    outline: none;
    margin: 0 7px;
}

    .about1-testimonial-inner-con .owl-dots .owl-dot.active {
        width: 16px;
        height: 16px;
        background: var(--accent);
    }

.about1-testimonial-inner-con .owl-dots {
    text-align: center;
}

.index1-testimonial-slide.about1-testimonial-slide:hover figure.about-quote-img img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(11%) hue-rotate(356deg) brightness(104%) contrast(103%);
}

.index1-testimonial-slide.about1-testimonial-slide:hover {
    background: var(--accent);
}

    .index1-testimonial-slide.about1-testimonial-slide:hover p {
        color: var(--primary-color);
    }

    .index1-testimonial-slide.about1-testimonial-slide:hover .index1-reviewer-con span,
    .index1-testimonial-slide.about1-testimonial-slide:hover .index1-reviewer-con small {
        color: var(--primary-color);
    }
/* about testimonial section styling end here */
/* about page styling end here */
/* service page styling start here */
/* service section styling start here */
.service-con {
    background: var(--primary-color);
}

.services-inner-con {
    display: grid;
    gap: 39px 30px;
    grid-template-columns: 31.5% 31.5% 31.5%;
}

.service-con figure.service-small-img {
    width: 94px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: var(--accent);
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translateX(-50%);
}

.service-img-con {
    position: relative;
}

.service-text-con {
    padding: 65px 32px 16px;
}

    .service-text-con p {
        padding-bottom: 23px;
        margin-bottom: 13px;
        border-bottom: 1px solid #e8e8e8;
    }

    .service-text-con a {
        font-size: 12px;
        line-height: 16px;
        color: var(--accent);
        font-weight: 700;
        transition: .2s ease-in-out;
    }

        .service-text-con a i {
            margin-left: 5px;
        }

        .service-text-con a:hover {
            color: var(--secondary-color);
        }

    .service-text-con h3 {
        margin-bottom: 13px;
    }

.services-main-section .generic-title {
    margin-bottom: 41px;
}
/* service section styling end here */
/* service page styling end here */
/* services detail page styling start here */
/* services detail section styling start here */
.services-detail-right-con h3 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 12px;
}

.services-detail-right-con p {
    line-height: 27px;
}

.special-text {
    padding: 28px 41px 30px;
    margin-bottom: 50px;
    border-left: 3px solid var(--accent);
}

    .special-text p {
        font-size: 16px;
        line-height: 27px;
        color: var(--secondary-color);
        font-weight: 700;
    }

.services-contact-details span {
    font-size: 14px;
    line-height: 18px;
    color: var(--primary-color);
    margin-bottom: 6px;
    letter-spacing: 1px;
}

.services-contact-details a {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    color: var(--primary-color);
    transition: .2s ease-in-out;
}

    .services-contact-details a:hover {
        color: var(--accent);
    }

.services-contact-details {
    padding: 60px 40px 30px;
    background: var(--secondary-color);
}

.services-detail-absolute-phone-img {
    width: 88px;
    height: 88px;
    border-radius: 100%;
    background: var(--accent);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -58px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-detail-inner-con {
    display: grid;
    gap: 37px;
    grid-template-columns: 28.2% 68.5%;
}

.services-detail-categories-con {
    padding: 23px 22px 0 31px;
    border-top: 2px solid var(--secondary-color);
    background: var(--primary-color);
    margin-bottom: 30px;
}

    .services-detail-categories-con .nav-pills .nav-link {
        padding: 0;
        background: none;
        display: flex;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        color: var(--secondary-color);
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        border-top: 1px solid #e8e8e8;
        border-radius: 0;
    }

        .services-detail-categories-con .nav-pills .nav-link.active,
        .services-detail-categories-con .nav-pills .nav-link i {
            color: var(--accent);
        }

        .services-detail-categories-con .nav-pills .nav-link:hover {
            color: var(--accent);
        }

    .services-detail-categories-con span {
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        margin-bottom: 18px;
        color: var(--secondary-color);
    }

.services-detail-right-con ul li {
    position: relative;
    padding-left: 28px;
    color: var(--secondary-color);
}

    .services-detail-right-con ul li::before {
        content: "\f00c";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 16px;
        color: var(--accent);
        position: absolute;
        left: 0;
        top: 0;
    }

.services-detail-right-con ul {
    display: grid;
    gap: 8px 10px;
    margin-bottom: 44px;
    grid-template-columns: 48.5% 48.5%;
}

.services-detail-right-con > figure {
    margin-bottom: 37px;
}

.services-detail-right-con > p {
    margin-bottom: 21px;
}

.services-detail-image-and-text-con {
    display: grid;
    gap: 0;
    grid-template-columns: auto auto;
    align-items: center;
    margin-bottom: 36px;
}

.services-detail-suscipit-text-con {
    padding: 48px 47px 48px 40px;
    background: var(--accent);
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .services-detail-suscipit-text-con h3,
    .services-detail-suscipit-text-con p {
        color: var(--primary-color);
    }

    .services-detail-suscipit-text-con h3 {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 15px;
    }

    .services-detail-suscipit-text-con p {
        margin-bottom: 15px;
        line-height: 24px;
    }
/* services detail section styling end here */
/* services detail page styling end here */
/* pricing page styling start here */
.pricing-box .price-con,
.pricing-box .price-con span {
    font-size: 44px;
    line-height: 44px;
    color: var(--accent);
    font-weight: 700;
}

    .pricing-box .price-con small {
        font-size: 14px;
        line-height: 18px;
        color: var(--secondary-color);
        position: relative;
        right: -4px;
        top: 6px;
    }

.pricing-box .price-con {
    padding-bottom: 27px;
    margin-bottom: 22px;
    border-bottom: 1px solid #e8e8e8;
}

.pricing-box .generic-btn a {
    font-size: 14px;
    padding: 12px 10px;
    min-width: 157px;
    min-height: 50px;
}

.pricing-box {
    padding: 45px 37px 53px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 49px rgb(0 0 0 / 5%);
}

.pricing-inner-con {
    display: grid;
    gap: 30px;
    grid-template-columns: 31.5% 31.5% 31.5%;
}

.pricing-section .generic-title {
    margin-bottom: 40px;
}

.pricing-box p {
    margin-bottom: 14px;
}

.pricing-box h3 {
    margin-bottom: 11px;
}

.pricing-box ul li::before {
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 14px;
    color: var(--accent);
    position: absolute;
    left: 0;
    top: 0;
}

.pricing-box ul li {
    padding-left: 25px;
    font-size: 14px;
    line-height: 28px;
    color: var(--secondary-color);
    margin-bottom: 5px;
}

    .pricing-box ul li:last-child {
        margin-bottom: 0;
    }

.pricing-box ul {
    margin-bottom: 32px;
}

.pricing-box:hover {
    border-color: var(--secondary-color);
}

.pricing-box .generic-btn a:hover {
    background: transparent;
    color: var(--accent);
}
/* pricing page styling end here */
/* faq page styling start here */
.faq-main-section .generic-title {
    margin-bottom: 45px;
}

.faq-outer-con {
    display: grid;
    gap: 29px;
    grid-template-columns: 48.8% 48.8%;
}

    .faq-outer-con ul li {
        margin-bottom: 19px;
    }

        .faq-outer-con ul li:last-child {
            margin-bottom: 0;
        }

.faq-inner-section .card-header h5 .btn {
    width: 100%;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    color: var(--secondary-color);
    font-weight: 700;
    text-decoration: none;
    padding: 14px 45px 14px 23px;
    border: 1px solid var(--secondary-color);
    border-radius: 0;
    border-bottom: transparent;
    transition: .3s ease-in-out;
}

.faq-inner-section .card-body {
    padding: 3px 45px 26px 26px;
    font-size: 14px;
    line-height: 24px;
    transition: .3s ease-in-out;
}

.faq-inner-section .card-body {
    border: 1px solid var(--secondary-color);
    border-top: transparent;
}

.faq-outer-con .card {
    border-radius: 0;
    border: 1px solid transparent;
}

.faq-inner-section .card-header h5 .btn::after {
    content: "\f062";
    color: var(--accent);
}

.faq-inner-section .card-header h5 .btn.collapsed::after {
    content: "\f061";
    color: var(--secondary-color);
}

.faq-inner-section .card-header h5 .btn::after, .faq-inner-section .card-header h5 .btn.collapsed::after {
    font-family: "Font Awesome 5 free";
    position: absolute;
    font-weight: 600;
    right: 21px;
}

.faq-inner-section .card-header {
    padding: 0;
    margin-bottom: 0;
    border-bottom: 0;
    background: var(--primary-color);
}

    .faq-inner-section .card-header h5 .btn.collapsed {
        border: 1px solid transparent;
    }

    .faq-inner-section .card-header h5 .btn:hover,
    .faq-inner-section .card-header h5 .btn:hover::after {
        color: var(--accent);
    }
/* faq page styling end here */
/* contact page styling start here */
.contact-inner-con {
    display: grid;
    gap: 30px;
    grid-template-columns: 31.5% 31.5% 31.5%;
}

.contact-box {
    text-align: center;
    padding: 44px 50px;
    box-shadow: 1px 1px 49px rgb(0 0 0 / 5%);
    background: var(--primary-color);
    border: 1px solid transparent;
}

    .contact-box figure {
        width: 91px;
        height: 91px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--accent);
        margin: 0 auto 28px;
    }

    .contact-box:hover {
        border-color: var(--accent);
    }

    .contact-box a {
        color: var(--text-color);
    }

        .contact-box a:hover {
            color: var(--accent);
        }

.contact-main-section .generic-title {
    margin-bottom: 40px;
}

.contact-box h3 {
    margin-bottom: 11px;
}
/* contact page styling end here */
.map-con iframe {
    height: 773px;
    width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    border: 0;
}

.map-form-box {
    width: 445px;
    padding: 48px 30px;
    background: var(--primary-color);
}

    .map-form-box ul li input {
        height: 55px;
    }

    .map-form-box ul li input,
    .map-form-box ul li textarea {
        border: 1px solid #e8e8e8;
        border-radius: 0;
        padding: 10px 20px;
    }

    .map-form-box ul li textarea {
        height: 117px;
        resize: none;
        padding: 16px 20px;
    }

    .map-form-box ul li input,
    .map-form-box ul li textarea,
    .map-form-box button {
        width: 100%;
        font-size: 14px;
        line-height: 22px;
    }

        .map-form-box ul li input::placeholder,
        .map-form-box ul li textarea::placeholder {
            font-size: 14px;
            line-height: 21px;
            color: var(--text-color);
        }

        .map-form-box ul li input:focus,
        .map-form-box ul li textarea:focus,
        .map-form-box button:focus,
        .map-form-box ul li input:focus-visible,
        .map-form-box ul li textarea:focus-visible {
            outline: none;
            border-radius: 0;
            border-color: var(--accent);
        }

    .map-form-box button {
        font-size: 16px;
        line-height: 21px;
        font-weight: 700;
        transition: .3s ease-in-out;
    }

        .map-form-box button:hover {
            background: transparent;
            color: var(--accent);
        }

    .map-form-box span {
        font-size: 16px;
        line-height: 21px;
        color: var(--accent);
        margin-bottom: 9px;
        font-weight: 700;
        display: block;
    }

    .map-form-box h2 {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 27px;
    }

    .map-form-box ul li {
        margin-bottom: 19px;
        position: relative;
    }

    .map-form-box .form-box span.error {
        color: red;
        position: relative;
        top: 0;
        left: 14px;
        float: left;
        font-size: 14px;
    }

    .map-form-box ul li:last-child {
        margin-bottom: 0;
    }

    .map-form-box ul {
        margin-bottom: 23px;
    }

.map-main-section {
    position: relative;
}

.map-form-outer-con {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: -334px;
}
/* 404 page styling start here */
.error-section {
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: url(../images/about-banner-bg.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

.error-con {
    position: relative;
    z-index: 2;
    padding: 0 100px;
}

    .error-con h2 {
        font-size: 170px;
        line-height: 165px;
        margin-bottom: 40px;
        color: var(--primary-color);
    }

    .error-con p {
        font-size: 22px;
        line-height: 36px;
        margin-bottom: 40px;
        color: var(--primary-color);
    }

    .error-con .generic-btn a {
        font-size: 18px;
        font-weight: 500;
        padding: 29px 32px;
        color: var(--accent);
        background: var(--primary-color);
        transition: .3s ease-in-out;
        border: 1px solid var(--primary-color);
    }

        .error-con .generic-btn a:hover {
            color: var(--primary-color);
            background: transparent;
        }
/* 404 page styling end here */
/* coming soon page styling start here */
.coming-soon-con {
    position: relative;
    z-index: 2;
}

    .coming-soon-con h2 {
        font-size: 100px;
        line-height: 100px;
        margin-bottom: 40px;
        color: var(--primary-color);
    }

.coming-soon-social-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}

    .coming-soon-social-links ul li a {
        width: 60px;
        height: 60px;
        color: var(--accent);
        background: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: .3s ease-in-out;
        border: 1px solid var(--primary-color);
    }

        .coming-soon-social-links ul li a i {
            font-size: 18px;
            color: var(--accent);
        }

        .coming-soon-social-links ul li a:hover {
            transform: translateY(-6px);
            background: transparent;
        }

            .coming-soon-social-links ul li a:hover i {
                color: var(--primary-color);
            }

.error-section .generic-btn i {
    margin-left: 10px;
}
/* coming soon page styling end here */
/* index2 page styling start here */
/* index2 banner styling start here */
.index2-banner-main-section {
    background: url(../images/index2-banner-bg-img.jpg) no-repeat center;
    background-size: cover;
    height: 827px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.index2-banner-inner-con span,
.index2-banner-inner-con h1,
.index2-banner-inner-con p {
    color: var(--primary-color);
}

.index2-banner-inner-con h1 {
    line-height: 72px;
    margin-bottom: 12px;
}

.index2-banner-inner-con span {
    margin-bottom: 12px;
    font-weight: 500;
    letter-spacing: 2.4px;
}

.index2-banner-inner-con p {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 38px;
}

.index2-banner-inner-con .read-more-btn a {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.index2-banner-inner-con .banner-btns {
    justify-content: center;
}

.index2-banner-inner-con {
    text-align: center;
    padding: 0 150px;
}

.top-to-bottom-btn {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.index2-banner-social-links {
    position: absolute;
    left: 93px;
    padding-top: 13px;
}

    .index2-banner-social-links ul li a {
        width: 44px;
        height: 45px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        transition: .2s ease-in-out;
    }

        .index2-banner-social-links ul li a:hover {
            color: var(--primary-color);
            background: var(--accent);
            border-color: var(--accent);
        }

    .index2-banner-social-links ul {
        display: flex;
        gap: 16px;
        flex-direction: column;
    }

.index2-banner-main-section::after {
    content: "";
    background: url(../images/banner-design-element.png) no-repeat center;
    width: 164px;
    height: 160px;
    position: absolute;
    right: 91px;
    bottom: 92px;
}
/* index2 banner styling end here */
/* index2 about styling start here */
.index2-about-section .banner-customers-con {
    position: relative;
    left: unset;
    gap: 20px;
    bottom: unset;
    width: 203px;
    height: auto;
    padding: 20px 20px 25px;
    margin-bottom: 30px;
    text-align: left;
    align-items: normal;
    border: 1px solid var(--accent);
    background: transparent;
    grid-template-columns: 100%;
}

    .index2-about-section .banner-customers-con ul li figure {
        width: 48px;
        height: 48px;
    }

        .index2-about-section .banner-customers-con ul li figure img {
            width: 46px;
            height: 46px;
            object-fit: contain;
        }

.index2-about-section .number-of-customers p {
    color: var(--secondary-color);
    line-height: 14px;
}

.index2-about-section .number-of-customers span {
    font-size: 20px;
    line-height: 22px;
    color: var(--accent);
    margin-bottom: 6px;
}

.index2-about-section .number-of-customers {
    padding-left: 10px;
}

.about1-aboutus-left-con.index2-about-left-con {
    gap: 23px;
}

.index2-about-section .banner-customers-con ul li:not(:nth-child(1)) {
    margin-left: -15px;
}

.index2-about-section .banner-customers-con ul {
    padding-right: 0;
    border-right: 0;
}

.about-img1-box.index2-about-img1-con {
    margin-top: 0;
}

.index2-about-section::after {
    content: "";
    background: url(../images/index2-about-shape.png) no-repeat center;
    width: 337px;
    height: 374px;
    position: absolute;
    right: 80px;
    bottom: 0;
}
/* index2 about styling end here */
/* index2 services section styling start here */
.index2-services-section .service-img-con .service-small-img img {
    width: auto;
}

.index2-services-section .owl-nav {
    display: none;
}

.index2-services-section .owl-stage-outer {
    margin-bottom: 55px;
}

.index2-services-section .owl-dots .owl-dot.active {
    width: 16px;
    height: 16px;
    background: var(--accent);
}

.index2-services-section .owl-dots .owl-dot {
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background: #dcdcdc;
    outline: none;
    margin: 0 7px;
}

.index2-services-section .owl-dots {
    text-align: center;
}
/* index2 services section styling end here */
/* index2 track section styling end here */
.index2-track-section .tracking-code h3 {
    margin-bottom: 0;
}

.index2-track-section .tracking-code {
    display: grid;
    gap: 20px;
    grid-template-columns: 21.8% 26.7% 26.7% 19%;
    align-items: center;
}

.index2-track-section .tracking-right-con input {
    margin-bottom: 0;
}

.index2-track-section .tracking-right-con select {
    margin-bottom: 0;
}

.index2-track-section .tracking-right-con {
    background: var(--accent) url(../images/index2-track-bg-shape.png) no-repeat center;
    background-size: cover;
    text-align: left;
    height: 100%;
    padding: 54px 59px 60px;
    margin-top: -95px;
    position: relative;
    z-index: 2;
}

    .index2-track-section .tracking-right-con input,
    .index2-track-section .tracking-right-con select,
    .index2-track-section .tracking-code button {
        padding: 10px 19px;
        height: 56px;
    }

.index2-video-section::before {
    content: "";
    background: url(../images/track-left-shape.png) no-repeat;
    width: 164px;
    height: 160px;
    position: absolute;
    left: 92px;
    bottom: 115px;
}
/* index2 track section styling end here */
/* index2 portfolio section styling start here */
.index2-portfolio-text-con {
    position: absolute;
    bottom: 32px;
    left: 35px;
}

    .index2-portfolio-text-con h3,
    .index2-portfolio-text-con p {
        color: var(--primary-color);
    }

    .index2-portfolio-text-con h3 {
        margin-bottom: 2px;
    }

    .index2-portfolio-text-con p {
        margin-bottom: 17px;
    }

    .index2-portfolio-text-con a {
        color: var(--accent);
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
    }

        .index2-portfolio-text-con a i {
            font-size: 14px;
            line-height: 14px;
            margin-left: 7px;
        }

        .index2-portfolio-text-con a:hover {
            color: var(--accent);
            text-decoration: underline;
        }

.index2-portfolio-outer-section {
    max-width: 1600px;
    margin: 0 auto -266px;
}

.index2-portfolio-box figure::after {
    content: "";
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.7) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.index2-portfolio-section .generic-title h2 {
    color: var(--primary-color);
}

.index2-portfolio-section .owl-nav {
    display: none;
}

.index2-portfolio-section .owl-dots .owl-dot.active {
    width: 16px;
    height: 16px;
    background: var(--accent);
}

.index2-portfolio-section .owl-dots {
    text-align: center;
}

    .index2-portfolio-section .owl-dots .owl-dot {
        width: 11px;
        height: 11px;
        border-radius: 100%;
        background: #dcdcdc;
        outline: none;
        margin: 0 7px;
    }

.index2-portfolio-section .owl-stage-outer {
    margin-bottom: 55px;
}
/* index2 portfolio section styling end here */
/* index2 statistics section styling start here */
.index2-statistics-section {
    padding-top: 410px;
}
/* index2 statistics section styling end here */
.index2-faq-outer-con {
    display: grid;
    gap: 80px;
    grid-template-columns: 44% 50%;
}

.index2-faq-text-inner-con {
    width: 596px;
    margin-right: auto;
}

    .index2-faq-text-inner-con span {
        font-size: 16px;
        font-weight: 700;
        color: var(--accent);
        display: block;
        margin-bottom: 12px;
    }

    .index2-faq-text-inner-con h2 {
        line-height: 50px;
        margin-bottom: 39px;
    }

    .index2-faq-text-inner-con ul li {
        margin-bottom: 19px;
    }

        .index2-faq-text-inner-con ul li:last-child {
            margin-bottom: 0;
        }

.index2-faq-section .faq-inner-section .card-header h5 .btn,
.index2-faq-section .faq-inner-section .card-body,
.index2-faq-section .faq-inner-section .card {
    border-color: transparent;
}

.index2-faq-text-con.faq-inner-section {
    padding-top: 20px;
}
/* index2 page styling end here */
/* index3 page styling start here */
/* index3 banner section styling start here */
.index3-banner-main-section {
    background: url(../images/index3-banner-bg-img.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    padding-top: 217px;
    height: 867px;
    padding-bottom: 260px;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 86%);
}

.index3-banner-outer-section {
    background: var(--primary-color);
}

    .index3-banner-outer-section::after {
        content: "";
        background: var(--accent);
        clip-path: polygon(0 86%, 0 92%, 74% 96.3%);
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

.index3-banner-inner-con {
    max-width: 1424px;
    margin: 0 auto;
}

.index3-banner-content > span {
    color: #1d1d1b;
    position: relative;
    padding-left: 76px;
    font-weight: 500;
    letter-spacing: 2.4px;
    margin-bottom: 11px;
}

    .index3-banner-content > span::before {
        content: "";
        background: var(--secondary-color);
        width: 59px;
        height: 1px;
        position: absolute;
        left: 0;
        top: 12px;
    }

.index3-banner-content h1 span {
    color: var(--accent);
}

.index3-banner-content h1 {
    margin-left: -5px;
    margin-bottom: 18px;
}

.index3-banner-content {
    width: 652px;
    margin-right: auto;
}

.index3-banner-main-section .index2-banner-social-links ul li a {
    box-shadow: 0 0 49px rgb(0 0 0 / 9%);
    color: var(--secondary-color);
}

    .index3-banner-main-section .index2-banner-social-links ul li a:hover {
        color: var(--primary-color);
    }

.index3-banner-main-section .index2-banner-social-links {
    left: 46px;
    padding-top: 69px;
}

.index3-banner-content .read-more-btn a {
    background: var(--secondary-color);
    color: var(--primary-color);
}

    .index3-banner-content .read-more-btn a:hover {
        background: var(--primary-color);
        color: var(--accent);
    }

.index3-banner-content p {
    font-size: 18px;
    line-height: 29px;
    color: #313131;
    margin-bottom: 32px;
}
/* index3 banner section styling end here */
/* index3 service section styling start here */
.index3-service-box figure {
    width: 91px;
    height: 91px;
    border-radius: 100%;
    background: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 28px;
}

.index3-service-section {
    padding-bottom: 200px;
}

.index3-service-box {
    padding: 42px 30px 20px;
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 1px 1px 49px rgb(0 0 0 / 5%);
}

    .index3-service-box h3 {
        margin-bottom: 11px;
    }

    .index3-service-box:hover {
        border-color: var(--secondary-color);
    }

.index3-service-inner-con {
    display: grid;
    gap: 30px;
    grid-template-columns: 31.5% 31.5% 31.5%;
}

.index3-service-box p {
    margin-bottom: 29px;
}

.index3-service-box .bottom-btn {
    padding-top: 12px;
    border-top: 1px solid #e8e8e8;
}

    .index3-service-box .bottom-btn a {
        color: var(--accent);
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;
    }

        .index3-service-box .bottom-btn a i {
            margin-left: 5px;
        }

        .index3-service-box .bottom-btn a:hover {
            text-decoration: underline;
        }
/* index3 service section styling end here */
/* index3 solution section start here */
.index3-solutions-section {
    background: url(../images/index3-solutions-bg-img.jpg) no-repeat center;
    background-size: cover;
    padding-top: 270px;
    height: 590px;
    position: relative;
}

    .index3-solutions-section::before {
        content: "";
        background: url(../images/index3-about-icon.png) no-repeat center;
        width: 150px;
        height: 150px;
        position: absolute;
        left: 50%;
        top: -87px;
        transform: translateX(-50%);
        z-index: 1;
    }

    .index3-solutions-section::after {
        content: "";
        background: var(--primary-color);
        width: 150px;
        height: 150px;
        border-radius: 100%;
        position: absolute;
        left: 50%;
        top: -87px;
        transform: translateX(-50%);
    }

.index3-solutions-inner-con {
    padding: 80px;
    background: var(--primary-color);
    display: grid;
    gap: 64px;
    grid-template-columns: 45% 47%;
    position: relative;
    z-index: 2;
}

.index3-solution-text-con h2 {
    line-height: 54px;
    margin-bottom: 20px;
    margin-left: -3px;
}

.index3-solution-text-con span {
    color: var(--accent);
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    margin-left: -3px;
}

.index3-solution-text-con > p {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 33px;
}

.index3-solution-counter ul li span,
.index3-solution-counter ul li small {
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    margin: 0;
}

.index3-solution-counter ul li p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 18px;
    color: var(--secondary-color);
    padding-top: 5px;
    width: 94px;
}

.index3-solution-counter ul li {
    display: flex;
    gap: 19px;
    position: relative;
}

    .index3-solution-counter ul li:nth-child(even)::before {
        content: "";
        background: #e8e8e8;
        width: 1px;
        height: 100%;
        position: absolute;
        left: -32px;
        top: 0;
    }

.index3-solution-counter ul {
    display: grid;
    gap: 22px 40px;
    margin-bottom: 50px;
    grid-template-columns: 38% 38%;
}

.index3-solution-text-con {
    margin-top: -6px;
}

.counter-numbers {
    display: flex;
    align-items: center;
    width: 82px;
}

    .counter-numbers small {
        color: var(--accent);
    }
/* index3 solution section end here */
/* index3 portfolio section start here */
.index3-portfolio-section {
    padding-top: 479px;
}

.index3-portfolio-content {
    padding: 22px 21px 18px;
    background: var(--primary-color);
}

    .index3-portfolio-content span {
        color: var(--accent);
        font-size: 12px;
        line-height: 14px;
        display: block;
        font-weight: 700;
        margin-bottom: 3px;
    }

    .index3-portfolio-content .arrow-up {
        width: 49px;
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--accent);
        border-radius: 100%;
        position: absolute;
        right: 28px;
        top: -26px;
        transition: .2s ease-in-out;
    }

        .index3-portfolio-content .arrow-up:hover {
            background: var(--secondary-color);
        }

.index3-portfolio-inner-con .owl-nav {
    display: none;
}

.index3-portfolio-inner-con .owl-dots {
    text-align: center;
}

    .index3-portfolio-inner-con .owl-dots .owl-dot.active {
        width: 16px;
        height: 16px;
        background: var(--accent);
    }

    .index3-portfolio-inner-con .owl-dots .owl-dot {
        width: 11px;
        height: 11px;
        border-radius: 100%;
        background: #dcdcdc;
        outline: none;
        margin: 0 7px;
    }

.index3-portfolio-inner-con .owl-stage-outer {
    margin-bottom: 49px;
}
/* index3 portfolio section end here */
/* index3 testimonial section start here */
.index3-testimonials-content {
    padding: 53px 57px 40px 41px;
    position: relative;
    background: var(--primary-color);
}

    .index3-testimonials-content::after {
        content: "";
        background: url(../images/coma-img.png) no-repeat center;
        width: 55px;
        height: 42px;
        position: absolute;
        right: 35px;
        bottom: 47px;
    }

    .index3-testimonials-content p {
        font-size: 16px;
        line-height: 27px;
        color: var(--secondary-color);
        font-weight: 500;
        margin-bottom: 30px;
    }

.index3-testimonials-inner-con .star-img img {
    width: auto;
}

.index3-testimonials-inner-con .index1-reviewer-detail figure {
    width: 56px;
    height: 56px;
    margin-right: 17px;
}

.index3-testimonials-inner-con .index1-reviewer-con span {
    margin-bottom: 6px;
}

.index3-testimonials-inner-con .index1-reviewer-con small {
    margin-left: 3px;
}

.index3-testimonials-inner-con .owl-nav {
    display: none;
}

.index3-testimonials-inner-con .owl-dots {
    text-align: center;
}

    .index3-testimonials-inner-con .owl-dots .owl-dot.active {
        width: 16px;
        height: 16px;
        background: var(--accent);
    }

    .index3-testimonials-inner-con .owl-dots .owl-dot {
        width: 11px;
        height: 11px;
        border-radius: 100%;
        background: #dcdcdc;
        outline: none;
        margin: 0 7px;
    }

.index3-testimonials-inner-con .owl-stage-outer {
    margin-bottom: 49px;
}
/* index3 testimonial section end here */
/* index3 blog section start here */
.index3-blog-box span {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--accent);
}

.index3-blog-box h3 {
    color: #343434;
}

.index3-blog-box p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
    padding-right: 20px;
}

.index3-blog-text-con {
    padding: 22px 75px 0 0;
}

.index3-blog-inner-con {
    display: grid;
    gap: 30px;
    grid-template-columns: 31.5% 31.5% 31.5%;
}

.index3-blog-box a h3 {
    transition: .2s ease-in-out;
}

.index3-blog-box a:hover h3 {
    color: var(--accent);
}
/* index3 blog section end here */
/* index3 page styling end here */
/* about2 page start here */
.about2-banner-section {
    height: 480px;
    background: linear-gradient(33deg, rgba(196, 196, 196, 1) 0%, rgba(246, 246, 246, 1) 70%, rgba(234, 69, 45, 1) 190%);
}

    .about2-banner-section .about-banner-inner-con {
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .about2-banner-section .about-banner-inner-con h1,
        .about2-banner-section .about-banner-inner-con .breadcrumb-item,
        .about2-banner-section .about-banner-inner-con .breadcrumb-item::before,
        .about2-banner-section .about-banner-inner-con .breadcrumb-item a {
            color: var(--secondary-color);
        }

            .about2-banner-section .about-banner-inner-con .breadcrumb-item a:hover {
                color: var(--accent);
            }

        .about2-banner-section .about-banner-inner-con .breadcrumb {
            margin-bottom: 0;
            border-color: var(--secondary-color);
        }

.about2-choose-section {
    background: var(--primary-color);
}

    .about2-choose-section .index1-choose-inner-con {
        gap: 34px;
        grid-template-columns: 50% 47%;
        align-items: center;
    }

.index2-banner-inner-con .generic-btn a:hover,
.index2-banner-inner-con .read-more-btn a:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--accent);
}
/* about2 page end here */
/* about3 page start here */
.about3-banner-outer-con::after {
    content: "";
    background: var(--accent);
    clip-path: polygon(0 76.1%, 0 86%, 75% 94%);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.about3-banner-section {
    background: url(../images/about3-banner-img.jpg) no-repeat center;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 76%);
    height: 517px;
    padding-bottom: 127px;
    background-size: cover;
}

    .about3-banner-section .about-banner-inner-con h1,
    .about3-banner-section .about-banner-inner-con .breadcrumb-item,
    .about3-banner-section .about-banner-inner-con .breadcrumb-item::before,
    .about3-banner-section .about-banner-inner-con .breadcrumb-item a {
        color: var(--secondary-color);
    }

        .about3-banner-section .about-banner-inner-con .breadcrumb-item a:hover {
            color: var(--accent);
        }

    .about3-banner-section .about-banner-inner-con .breadcrumb {
        margin-bottom: 0;
        border-color: transparent;
        background: var(--primary-color);
        box-shadow: 7px 7px 16px rgb(0 0 0 / 5%);
    }

    .about3-banner-section .about-banner-inner-con {
        padding-top: 0;
    }

.about3-logistics-inner-con {
    display: grid;
    gap: 65px;
    grid-template-columns: 45% 48%;
    padding: 80px;
    background: var(--primary-color);
}

.about3-logistics-right-con span {
    font-weight: 700;
    color: var(--accent);
    display: block;
    margin-bottom: 10px;
    margin-left: -3px;
}

.about3-logistics-right-con p {
    font-size: 18px;
    line-height: 29px;
    padding-right: 25px;
}

.about3-logistics-right-con h2 {
    margin-bottom: 26px;
    margin-left: -3px;
}

.about3-logistics-right-con .generic-btn {
    margin-top: 32px;
}

.about3-logistics-right-con {
    margin-top: -4px;
}

.about3-statistics-section .about-statistics-box span,
.about3-statistics-section .about-statistics-box small {
    color: var(--accent);
    margin-bottom: 12px;
}

.about3-statistics-section .about-statistics-box p {
    font-size: 14px;
    line-height: 18px;
    color: var(--secondary-color);
}

.about3-statistics-section .about-statistics-box {
    padding: 27px 30px 36px 30px;
}
/* about3 page end here */
















/* bottom to top button */
#button.show {
    opacity: 1;
    visibility: visible;
}

#button:hover {
    cursor: pointer;
}

#button {
    display: inline-block;
    background-color: var(--accent);
    width: 82px;
    height: 82px;
    text-align: center;
    position: fixed;
    bottom: 57px;
    right: 113px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: spineer 2s infinite;
    animation: spineer 2s infinite;
    cursor: pointer;
}

    #button::after {
        content: "\f062";
        font-family: "Font Awesome 5 free";
        font-size: 26px;
        line-height: 50px;
        color: #fff;
        font-weight: 600;
    }

@-webkit-keyframes spineer {
    from {
        box-shadow: 0 0 0 0 rgb(234, 69, 45, .99)
    }

    to {
        box-shadow: 0 0 0 25px rgb(53, 0, 252, .01)
    }
}

@keyframes spineer {
    from {
        box-shadow: 0 0 0 0 rgb(234, 69, 45, .99)
    }

    to {
        box-shadow: 0 0 0 25px rgb(53, 0, 252, .01)
    }
}

/* bottom to top button */
/* Preloader -------------------------------------------------------*/
/* Loader Styles start here */
.loader-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    font-size: 0;
    color: var(--accent);
    display: inline-block;
    margin: -25px 0 0 -25px;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.lead {
    font-size: 13px;
}

.loader div {
    background-color: var(--accent);
    display: inline-block;
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    opacity: .5;
    border-radius: 50%;
    -webkit-animation: ballPulseDouble 2s ease-in-out infinite;
    animation: ballPulseDouble 2s ease-in-out infinite;
}

    .loader div:last-child {
        -webkit-animation-delay: -1s;
        animation-delay: -1s;
    }

@-webkit-keyframes ballPulseDouble {

    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ballPulseDouble {

    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* Preloader -------------------------------------------------------*/